[Unit]
Description=The converjon image service
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
SyslogIdentifier=converjon
EnvironmentFile=-/etc/sysconfig/converjon
ExecStartPre=/usr/bin/mkdir -p /var/cache/converjon
ExecStartPre=/usr/bin/chown -R wwwrun:www /var/cache/converjon
ExecStart=/usr/bin/node /usr/bin/converjon --config /etc/converjon/current.yml $CONFIGS
PermissionsStartOnly=yes
User=wwwrun
Group=www
WorkingDirectory=/etc/converjon
Restart=on-failure


[Install]
WantedBy=multi-user.target